body {
    font-family: sans-serif;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    width: 600px;
}
span {
    font-weight: bold;
}
#s1 {
    color:#eb8500;
}
a {
    color:firebrick;
    text-decoration: none;
}