#p1 {
    color: #ccccff;
}
/* Note */
p {
    background-color:black;
    color:white
}
span {
    font-weight: bold;
}
#s1 {
    color: orange;
}
#s2 {
    color: aquamarine;
}
#s3 {
    color: blue;
}
#s4 {
    background-color:chartreuse;
    color: black
}