* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}
.card-container {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}
.card {
    background-color: burlywood;
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
    flex: 1;
}
p {
    color: white;
}
h3 {
    color: white;
}
.card h3 {
    font-size: 36px;
    margin: 0px;
}
.sbs {
    display: flex;
}