* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
}
img {
    width: 100%;
    object-fit: cover;
}
header {
    position: sticky;
    top: 0px;
}
header #top-lvl {
    background: linear-gradient(to bottom, orange, red, pink);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top-lvl a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
nav #brand {
    margin-right: auto;
    color: white;
}
nav #logo img {
    width: 200px;
}
#top-lvl  .btn {
    background-color: white;
    color: teal;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
.container {
    width: 80vw;
    max-width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vw;
}
header #bottom-lvl {
    background: linear-gradient(to bottom, yellowgreen, olive);
    display: flex;
    justify-content: space-between;
}
#bottom-lvl a {
    text-decoration: none;
    color: white;
    padding: 24px;
}