* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
.two-col {
    display: flex;
    width: 80vw;
    max-width: 1200px;
    margin: 0px auto;
    gap: 50px;
}
#sidebar {
    order: 2;
    width: 250px;
}
#sidebar h2 {
    background-color: orange;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    color: white;
}
#main {
    order: 1;
    flex: 1;
}
header {
    position: sticky;
    top: 0px;
}