* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    width: 50%;
    max-width: 900px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.light-container {
padding: 48px 0px;
}