#p1 {
color: green;
}
#p2 {
    color: #F711F7;
}
#p3 {
    color: red;
}
#p3-1 {
    color: goldenrod;
}
#p3-2 {
    color: blue;
}
#p4 {
    background-color: skyblue;
}
#p5 {
    background-color: yellow;
}