.color-palette {
    box-shadow: 6px 6px 12px #989898;
text-align: center;
margin: 24px; 
padding: 24px; 
}
#p1-c1 {
background-color: #F6AA1C;
}
#p1-c2 {
background-color: #BC3908;
}
#p1-c2 {
background-color: #941B0C;
}