* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
#hero {
    height: 100vh;
    background-image: url("../images/growth.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
#hero .hero-content {
    text-align: center;
    width: 500px;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#hero-2 {
    height: 100vh;
    background-image: url("../images/rock.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    gap: 24px;
}